<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New agent</title>
</head>
<body>
    <h2>Enter new agent</h2>

    <!-- Input form to gather the new secret agent's information -->
    <section>
        <form action = "{{ url_for('addrec') }}" method = "POST">
            <h3>Secret agent information</h3>
            Agent Name<br>
            <input type = "number" name = "AgentName" /></br>

            Agent Alias<br>
            <input type = "text" name = "AgentAlias" /></br>

            Agent Security Level<br>
            <input type = "text" name = "AgentSecurityLvl" /><br>

            Password<br>
            <input type = "text" name = "LoginPassword" /><br>
            <input type = "submit" value = "submit" /><br>
        </form>
    </section>

    <!-- Link to go back to the home page -->
    <h3><a href = "\">go back to home page</a></h3>
</body>
</html>